# Excluded files

# The maven "target" directory - a temporary directory used in Maven builds
target/

# Eclipse files and directories
bin/
.classpath
.project
.settings/

# FrontlineSMS resources bundle - this should be generated at build-time
src/main/resources/resources.zip

# Temporary working directory
temp/

# Ignore log files in the root directory
*.log